[Unit]
Description=Agrumy.Web (Kestrel)
After=network.target agrumy-api.service

[Service]
Type=simple
User={{SERVICE_USER}}
WorkingDirectory={{INSTALL_DIR}}
ExecStart={{INSTALL_DIR}}/Agrumy.Web
Restart=always
RestartSec=5
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
